
body { 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#p5Canvas{
    height: 100%;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.informatics{
     height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.line-graph{
     height: 60vh;
    width: 100%;
}